<ul>
    {{#each posts}}
        <li class="post-li">
            <header>
                <h2>
                    {{#if content}}
                        <a href="{{relative @file.relative 'html/post'}}/{{id}}.html">{{{title}}}</a>
                    {{else}}
                        <a href="{{#each links}}{{#unless @index}}{{this}}{{/unless}}{{/each}}" target="_blank" rel="noopener">{{{title}}}</a>
                    {{/if}}
                </h2>
            </header>
            <img src="{{relative @file.relative 'img/post'}}/{{img}}" alt="{{sanitize title}}"/>

            <div class="post-div">
                <p>{{{description}}}</p>

                {{#if content}}
                    <p class="read-p"><a href="{{relative @file.relative 'html/post'}}/{{id}}.html">Read</a></p>
                {{/if}}
            </div>

            <ul class="tags-ul">
                {{#each tags}}
                    <li>
                        <a href="{{relative @file.relative 'html/tag'}}/{{this}}/1.html">{{this}}</a>
                    </li>
                {{/each}}
            </ul>

            <ul class="links-ul">
                {{#if content}}
                    <li>
                        <a href="{{relative @file.relative 'html/post'}}/{{id}}.html">{{{@root.svg.post}}}</a>
                    </li>
                {{/if}}

                {{#each links}}
                    <li>
                        <a href="{{this}}" target="_blank" rel="noopener">{{{lookup @root.svg @key}}}</a>
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</ul>